@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Website created by Danil Tkachenko </h1>
    <p>This side was made as a test job at Business Logic s.r.o.<a href="https://www.blogic.cz/">https://www.blogic.cz/</a></p>
	<img class="mainImage" src="~/img/Blojic.png" />

</div>
